.box1{
  width: 100px;
  height: 100px;
  background-color: blue;
  float:left;
}

.box2{
  width: 100px;
  height: 100px;
  background-color: yellow;
  float: left;
}

.box3{
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
}